# https://phpstan.org/config-reference
includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8
    parallel:
        processTimeout: 30.0
        maximumNumberOfProcesses: 4
    paths:
        - src
        - tests
